<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc.module_home">

    <application>
        <activity android:name=".pagerAdapter.PagerAdapterTestActivity"></activity>
        <activity android:name=".other.DialogActivity" />
        <activity android:name=".other.QrCodeActivity" />
        <activity android:name=".rv.titleStopAtTop.TitleStopAtTopActivity" />
        <activity android:name=".rv.mvvmRvAdapter.MvvmRvAdapterActivity" />
        <activity android:name=".rv.RecyclerViewActivity" />
        <activity android:name=".material.ToolbarActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".material.NewsDetailActivity" />
        <activity android:name=".home.TabActivity" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>